.mat-card-simples {
  max-width: 300px;
  margin-top: 10px;
}

.mat-card-medio {
  max-width: 35%;
}

.mat-content-line {
  display: inline;
}

.mat-content-item-margin {
  margin-right: 3%;
}

.mat-align-button-margin {
  margin-right: 2%;
  margin-bottom: 1.5%;
}
